.home-page {
    
    .text-zone {
        position: absolute;
        left: 15%;
        top: 50%;
        transform: translateY(-50%);
        width: 60%;
        max-height: 90%;
    }
    
    h1 {
        color: #fff;
        font-size: 48px;
        line-height: 53px;
        margin: 0;
        font-family: 'Marksman';
        font-weight: 400;

        &::before {
            content: '<h1>';
            font-family: 'Marksman';
            color: white;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            opacity: 0.6;
            animation: fadeIn 1s 5s backwards;
        }

        &::after {
            content: '</h1>';
            font-family: 'Marksman';
            color: white;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 5s backwards;
            opacity: 0.6;
        }
    }

    h2 {
        color: lightgray;
        margin-top: 20px;
        font-weight: 400;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: white;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid white;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: white;
            color: slateblue;
        }
    }
    

    nav {
        display: block;
        text-align: center;
        position: absolute;
        height: 200px;
        top: 40%;
        margin-top: -140px;
        width: 20%;
        right: 20%;
        animation: fadeIn 1s 5s backwards;

        img {
            width: 400px;
            height: 400px;
            border: 16px solid white;
            border-radius: 30px;
        }
    
        a {
            font-size: 30px;
            padding: 8px 0 8px 0;
            color: #4d4d4e;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;
    
            i {
                transition: all 0.3s ease-out;
            }
    
            &:hover {
                color: white;
    
                img {
                    opacity: 0;
                }
    
                &:after {
                    opacity: 1;
                }
            }
        
            &:after {
                content: 'ABOUT ME';
                font-size: 30px;
                font-family: 'Marksman';
                letter-spacing: 2px;
                position: absolute;
                top: 200px;
                left: 20px;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }
    
    }
}
    // img {
    //     position: absolute;
    //     top: 200px;
    //     width: 20%;
    //     float: right;
    //     right: 10%;
    //     border: 16px solid white;
    //     border-radius: 30px;
    //     animation: fadeIn 1s 5s backwards;

    //     &:hover {
    //         content: 'ABOUT ME';
    //         font-size: 36px;
    //         color: white;
    //         letter-spacing: 2px;
    //         position: absolute;
    //         bottom: 0;
    //         display: block;
    //         width: 20%;
    //         text-align: center;
    //         opacity: 0;
    //         -webkit-transition: all 0.3s ease-out;
    //         transition: all 0.3s ease-out;
    //     }


    // }

   
}